<div class="container">
	<div style="display:flex ; flex-direction: row; justify-content: space-around;">
	  <div>
      <div class="dashboard-usuario-card" style="display: flex; flex-direction: column; justify-content: space-around;">
        <app-usuario-dados></app-usuario-dados>
      </div>
	  </div>
	  <div>
      <div style="display: flex; flex-direction: column; justify-content: space-around; gap: 1rem;">
        <app-usuario-calendario-academico></app-usuario-calendario-academico>
      </div>
	  </div>
	</div>
    <div style="margin-top: 1rem;">
      <app-professor-lista-uc></app-professor-lista-uc>
    </div>
</div>