*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.card__container {
	position: relative;
	background: white;
	box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
	border: transparent;
	width: 30rem;
	padding: 1.3rem;
	margin-top: 15rem;
	right: 0.6rem;
}

.card__body {
	padding: 0px 70px;
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.card__body img {
	margin-left: -3rem;
	width: 2.5rem;
	scale: 1.5;
}

.pi-th-large {
	scale: 1.5;
	color: #092C4C;
	margin-right: -4rem;

}

  @media screen and (max-width: 1080px) {
	.card__container {
		position: relative;
		margin-top: 54rem;
		margin-bottom: 3.5rem;
		width: 22rem;
		right: 11rem;
	  }

	  .card__body img {
		position: relative;
		right: 1rem;
    }

	  .pi-th-large {
		position: absolute;
		right: 6rem; /* Ajuste conforme necessário para movê-lo mais para a direita */
	  }

  }
