<div class="">
	<div class="card__container" >
		<h2 class="card__header">Últimas 3 badges</h2>
		<div class="card__body">
			<img  style="width: 2.5rem" src="{{'data:image/png;base64,' + badges[2].imagem}}"/>
			<img  style="width: 2.5rem" src="{{'data:image/png;base64,' + badges[0].imagem}}"/>
			<img  style="width: 2.5rem" src="{{'data:image/png;base64,' + badges[1].imagem}}"/>
			<i  class="pi pi-th-large" [routerLink]="['/badges/listagemusuariobadges']" style="font-size: 1rem; color: #092C4C; cursor: pointer; margin-top: 20px; margin-left: 30px;" ></i>
		</div>
	</div>
</div>		