<h1 mat-dialog-title>Indicadores de Competência</h1>
<div mat-dialog-content>
    Competencia: <br> 
    <ul>
        <li>
            {{ dados.descricao}} 
        </li>
    </ul>
    <br>
    Indicadores de Competencia:<br>
    <ul>
        <div *ngFor="let indicador of competenciaIndicadores; let i = index">
                <li>{{indicador.descricao}}</li>
        </div>
    </ul>    
</div>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Fechar</button>
</mat-dialog-actions>