<h1 mat-dialog-title>Indicadores de Competência</h1>
<div mat-dialog-content>
    Competencia: <br>
    <ul>
        <li>
            {{ dados.descricao}}
        </li>
    </ul>
    <br>
    <ul>
        <p-accordion [activeIndex]="0">
            <div *ngFor="let indicador of competenciaIndicadores; let i = index">
                <p-accordionTab header="{{indicador.descricao}}">
                    <div style="display: flex; justify-content: space-between;" class="">
                        <div style="display: flex; justify-content: space-between;">
                            <span class="pi pi-file"></span>
                            <p>Objeto aprendizagem</p>
                        </div>
                        <div>
                            <a>
                                <span class="pi pi-download"></span>
                            </a>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: space-between;" class="">
                        <div style="display: flex; justify-content: space-between;">
                            <span class="pi pi-file"></span>
                            <p>Objeto aprendizagem</p>
                        </div>
                        <div>
                            <a>
                                <span class="pi pi-download"></span>
                            </a>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: space-between;" class="">
                        <div style="display: flex; justify-content: space-between;">
                            <span class="pi pi-file"></span>
                            <p>Objeto aprendizagem</p>
                        </div>
                        <div>
                            <a>
                                <span class="pi pi-download"></span>
                            </a>
                        </div>
                    </div>
                </p-accordionTab>
            </div>
        </p-accordion>
    </ul>
</div>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Fechar</button>
</mat-dialog-actions>