.card-uc-descricao {
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 0.5rem;
}

.accordion-item h2 {
	margin: 0;
}

.comp {
	margin: 10px;
}

.card {
	/*height: 4rem;*/
	width: 15rem;
	height: 20rem;
	margin-right: 0.3em;
	margin-left: 0.3rem;
	margin-top: 0.5rem;
}

.border-primary {
	border: 10px;
}

.card-title {
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	font-family: 'Noto Sans SC', sans-serif;
}

scroll-badge {
	height: 5rem;
	width: 100%;
}

@media screen and (min-width: 1400px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1545px;
		margin-left: 0;
	}
}
@media screen and (max-width: 1210px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1000px;
		margin-left: 0;
	}
}

.p-splitter-panel-nested {
	display: flex;
	flex-direction: column;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
	background-color: #3f51b5 !important;
	color: white !important;
}
