<p-accordion [multiple]="true">


    <div style= "width: 240px; height: 80px; align-items: center; justify-content: center;" class="card flex">
        <p-inputMask style="display: flex; justify-content: center; justify-content: space-around;"
         mask="999-99-9999" 
        [(ngModel)]="value" [disabled]="true">
        <i class="pi pi-credit-card" style="font-size: 60px;"></i>
            <h1>{{ senacCoins.saldo }}</h1>
        </p-inputMask>
    </div>


    <div style="height: 100px;"></div>



    <p-table #dt1 [value]="senacCoinMovimentacoes" dataKey="id"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Apresentando {first} para {last} de {totalRecords} registros">
    <ng-template pTemplate="header">
        <tr style="font-size: 20px">
            <th style="min-width:15rem">
                <div class="flex justify-content-center align-items-center">
                    Data
                </div>
            </th>
            <th style="min-width:15rem">
                <div class="flex justify-content-center align-items-center">
                    Observação
                </div>
            </th>
            <th style="min-width:15rem">
                <div class="flex justify-content-center align-items-center">
                    Valor
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-senacCoinMovimentacao>
        <tr style="font-size: 20px">
            <td>
                {{senacCoinMovimentacao.data | date:"dd/MM/yyyy hh:mm:ss a":"+0000"}}
            </td>                
            <td>
                {{senacCoinMovimentacao.observacao}}
            </td>
            <td>
                {{senacCoinMovimentacao.valor}}
            </td>                
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">Não existem unidades curriculares matriculadas neste semestre.</td>
        </tr>
    </ng-template>
    </p-table>
   
</p-accordion>
