<section style="display: flex; flex-direction: column; justify-content: space-between; gap: 2rem">
  <app-listagem-saldo
    [$senacCoins]="senacCoins"
  ></app-listagem-saldo>
  <p-tabView>
    <p-tabPanel header="Recompensas">
      <app-listagem-recompensas
        class="container-fluid"
        style="display: flex; flex-direction: row"
        [$senacCoins]="senacCoins"
        [$senacCoinRecompensas]="senacCoinRecompensas"
      ></app-listagem-recompensas>
    </p-tabPanel>
    <p-tabPanel header="Movimentações">
      <app-listagem-movimentacoes
        [$isLoading]="isLoading"
        [$senacCoinMovimentacoes]="senacCoinMovimentacoes"
      >
      </app-listagem-movimentacoes>
    </p-tabPanel>
  </p-tabView>
</section>
