* {
  font-family: 'PoppinsRegular';
}

.acc-header {
  background-color: #F8F9FA;
  border-bottom: 0.5px solid grey;
}

.accordion-header-container{
  display: flex;
}
.encontro-header-title {
  font-family: 'PoppinsSemiBold';
  font-size: 14px !important;
  justify-content: flex-start;
}

.encontros-container {
  max-height: 95vh;
}

span {
  font-size: 12px;

}

