<form class = "needs-validation" novalidate [formGroup]="form">
  <div class="form-group">
    <label for="descricao">Pergunta</label>
    <textarea class="form-control" id="descricao" rows="3" formControlName="descricao" [ngClass]="{ 'is-invalid': submitted && hasError('descricao')}"></textarea>
  </div>
  <div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Enviar</button>
    <button type ="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
  </div>
</form>