<div class="row">
  <p-timeline [value]="modulosTotal" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="content" let-modulo>
      
      <p-card class="card flex" [header]="modulo.descricao" [subheader]="'Carga Horária: ' + modulo.cargaHoraria" style="display: flex; justify-content: flex-start;">
        <div>
          <table class="table" >
            <thead>
              <tr>
                <th scope="col" style="text-align: left;">Unidade Curricular</th>
                <th scope="col" style="text-align: center;">Carga Horaria</th>
                <th scope="col" style="text-align: center;">Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let unidadesCurriculares of modulo.unidadesCurriculares">
              <tr>
                <td style="text-align: left;">{{ unidadesCurriculares.nome }}</td>
                <td style="text-align: center;">{{ unidadesCurriculares.horas }}</td>

                <td *ngIf="unidadesCurriculares.status == 1" style="text-align: center;"><img id="cadeado" src="https://cdn-icons-png.flaticon.com/512/2089/2089795.png" /></td>
                <td *ngIf="unidadesCurriculares.status == 0 || unidadesCurriculares.status == null" style="text-align: center;"><img id="cadeado" src="https://cdn-icons-png.flaticon.com/512/64/64104.png?w=360" /></td>
                <td *ngIf="unidadesCurriculares.status==1" style="width: 20px; height: 20px; text-align: center;"><img src="https://cdn-icons-png.flaticon.com/512/2089/2089795.png"></td>
                <td *ngIf="unidadesCurriculares.status==0 || unidadesCurriculares==null" style="width: 20px; height: 20px; text-align: center;"><img src="https://cdn-icons-png.flaticon.com/512/64/64104.png?w=360"></td>
              </tr>
            </tbody>
          </table>
        </div>

      </p-card>

    </ng-template>
  </p-timeline>
</div>
