<div class="card flex justify-content-center" style="margin-bottom: 50px; margin-top: 40px;">
  <div class="row align-items-center">
    <div class="col-md-4" style="width: 20%; flex-shrink: 0;">
      <img src="https://primefaces.org/cdn/primeng/images/usercard.png" class="card-img-top" alt="..." style="width: 100%;" />
    </div>
    <div class="col-md-8">
      <div>
        <h1 style="margin-top: 0;">Item 1</h1>
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        </p>
        <div style="margin-top: 10px; margin-bottom: 10px;">
          <button pButton type="button" icon="pi pi-plus" style="margin-right: 10px;"></button>
          <button pButton type="button" icon="pi pi-minus"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card flex justify-content-center" style="margin-bottom: 50px; margin-top: 40px;">
  <div class="row align-items-center">
    <div class="col-md-4" style="width: 20%; flex-shrink: 0;">
      <img src="https://primefaces.org/cdn/primeng/images/usercard.png" class="card-img-top" alt="..." style="width: 100%;" />
    </div>
    <div class="col-md-8">
      <div>
        <h1 style="margin-top: 0;">Item 2</h1>
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        </p>
        <div style="margin-top: 10px; margin-bottom: 10px;">
          <button pButton type="button" icon="pi pi-plus" style="margin-right: 10px;"></button>
          <button pButton type="button" icon="pi pi-minus"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card flex justify-content-center" style="margin-bottom: 50px; margin-top: 40px;">
  <div class="row align-items-center">
    <div class="col-md-4" style="width: 20%; flex-shrink: 0;">
      <img src="https://primefaces.org/cdn/primeng/images/usercard.png" class="card-img-top" alt="..." style="width: 100%;" />
    </div>
    <div class="col-md-8">
      <div>
        <h1 style="margin-top: 0;">Item 4</h1>
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        </p>
        <div style="margin-top: 10px; margin-bottom: 10px;">
          <button pButton type="button" icon="pi pi-plus" style="margin-right: 10px;"></button>
          <button pButton type="button" icon="pi pi-minus"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card flex justify-content-center" style="margin-bottom: 50px; margin-top: 40px;">
  <div class="row align-items-center">
    <div class="col-md-4" style="width: 20%; flex-shrink: 0;">
      <img src="https://primefaces.org/cdn/primeng/images/usercard.png" class="card-img-top" alt="..." style="width: 100%;" />
    </div>
    <div class="col-md-8">
      <div>
        <h1 style="margin-top: 0;">Item 4</h1>
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        </p>
        <div style="margin-top: 10px; margin-bottom: 10px;">
          <button pButton type="button" icon="pi pi-plus" style="margin-right: 10px;"></button>
          <button pButton type="button" icon="pi pi-minus"></button>
        </div>
      </div>
    </div>
  </div>
</div>
