<div class="cards">
    <!-- CARD JAVA -->
    <mat-card class="card-java">
        <mat-card-header>
            <mat-card-title class="title-java">
                <p>Java</p>
            </mat-card-title>
        </mat-card-header>
        <img class="img-java" mat-card-image [src]="java">
        <br>
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>MAIS DETALHES</button>
        </mat-card-actions>
    </mat-card>

    <!-- CARD PYTON -->
    <mat-card class="card-pyton">
        <mat-card-header>
            <mat-card-title class="title-pyton">
                <p>Pyton</p>
            </mat-card-title>
        </mat-card-header>
        <img class="img-pyton" mat-card-image [src]="pyton">
        <br>
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>MAIS DETALHES</button>
        </mat-card-actions>
    </mat-card>

    <!-- CARD HTML -->
    <mat-card class="card-html">
        <mat-card-header>
            <mat-card-title class="title-html">
                <p>HTML</p>
            </mat-card-title>
        </mat-card-header>
        <img class="img-html" mat-card-image [src]="html">
        <br>
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>MAIS DETALHES</button>
        </mat-card-actions>
    </mat-card>

    <!-- CARD CSS -->
    <mat-card class="card-css">
        <mat-card-header>
            <mat-card-title class="title-css">
                <p>CSS</p>
            </mat-card-title>
        </mat-card-header>
        <img class="img-css" mat-card-image [src]="css">
        <br>
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>MAIS DETALHES</button>
        </mat-card-actions>
    </mat-card>

    <!-- CARD JAVASCRIPT -->
    <mat-card class="card-js">
        <mat-card-header>
            <mat-card-title class="title-js">
                <p>JavaScript</p>
            </mat-card-title>
        </mat-card-header>
        <img class="img-js" mat-card-image [src]="javascript">
        <br>
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>MAIS DETALHES</button>
        </mat-card-actions>
    </mat-card>

    <!-- CARD ANGULAR -->
    <mat-card class="card-angular">
        <mat-card-header>
            <mat-card-title class="title-angular">
                <p>Angular</p>
            </mat-card-title>
        </mat-card-header>
        <img class="img-angular" mat-card-image [src]="angular">
        <br>
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>MAIS DETALHES</button>
        </mat-card-actions>
    </mat-card>
</div>