<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="cards col" *ngFor="let senacCoinRecompensa of $senacCoinRecompensas">
    <div class="cardExterior card h-100">
      <img
        src="https://primefaces.org/cdn/primeng/images/usercard.png"
        class="card-img-top"
        alt="..."/>
      <div
        class="card-body"
        style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        ">
        <div class="titulos">
          <h1 class="card-title">{{ senacCoinRecompensa.nome }}</h1>
          <h2>{{ senacCoinRecompensa.pontos | currency}}</h2>
        </div>
        <p class="card-text">{{ senacCoinRecompensa.descricao }}</p>
        <div class="botao d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- (click)="comprarItem(card)" -->
          <button
            class="btn btn-primary me-md-2"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            Comprar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<p-button routerLink="/senacCoin/carrinhosenaccoin" label="Carrinho" style="margin-top: 20px;"></p-button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- (click)="comprarItem(card)" -->
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Confirmação de adição do carrinho
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Tem certeza que quer comprar?</div>
      <!-- Inserir descrição dos Cards -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Não
        </button>
        <button type="button" class="btn btn-primary">Sim</button>
      </div>
    </div>
  </div>
</div>
