<div *ngIf="!isLoading" class="container page-container" id="top">
  <div class="row gy-2">
      <div class="header">
        <div class="row">
        <div class="col-md-5">
          <app-card-info-grupo *ngIf="grupo && planejamentoUc" [grupo]="grupo" [planejamentoUc]="planejamentoUc"></app-card-info-grupo>
        </div>
        <div class="col">
          <div class="vstack gap-2 h-100">
            <div class="row h-100">
                <div class="col">
                  <app-info-docente *ngIf="grupo" [professor]="grupo.professor"></app-info-docente>
                </div>
                <div class="col-5">
                  <app-progresso [progresso]="progresso"></app-progresso>
                </div>
                <div class="col">
                  <app-badges-uc [badges]="badges"></app-badges-uc>
                </div>
            </div>
            <div class="row h-100">
              <div class="col">
                <app-link [titulo]="'Aulas'" [link]="'/aulas'" [icone]="'format_list_bulleted'"></app-link>
              </div>
              <div class="col">
                <app-link [titulo]="'Tarefas'" [link]="'/tarefas'" [icone]="'edit_document'"></app-link>
              </div>
              <div class="col">
                <app-link [titulo]="'Conceitos'" [link]="'/conceitos'" [icone]="'grade'"></app-link>
              </div>
              <div class="col">
                <app-link [titulo]="'Fórum'" [link]="'/forum'" [icone]="'forum'"></app-link>
              </div>
              <div class="col">
                <app-link [titulo]="'Participantes'" [link]="'/participantes'"
                          [icone]="'group'">
                </app-link>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
