:host ::ng-deep .p-button-warning {
	background: #F2994A;
  color: black;
	padding: 17px;
	/*margin: 20px;*/
	width: 2rem;
	height: 1rem;
  border-radius: 20px;
}
.header-container{
  justify-content: space-between;
  height: auto;
  align-items: center;
}
.botoes__Menu {
	display: flex;
  gap: 1.5rem;
  justify-content: space-around;
	align-items: center;
}
.menu_responsivo{
  display: none;
  justify-content: center;
  background-color: #F2994A;
  color: black;
  border-radius: 20px;
  margin-top: 10px;
}
.lista_menu_responsivo{
  background-color: #092C4C;
}
.lista_menu_responsivo.li.a{
  margin-left: 5px ;
}
.menu_nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: medium;
  padding: 10px;
  gap: 1.5rem;
}
.nav-bar {
  background: #092C4C;
}

span {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
  padding-left: 45px;
  padding-top: 5px;
}

.spacer {
  flex: 1 1 auto;
}

a{
  color: white;
}
a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #F2994A;
}
.active {
  color: #F2994A;
}
@media (max-width: 1080px) {
  .menu_nav{
    display: none;
  }
  .menu_responsivo{
    display:block;
  }
}