:host ::ng-deep .p-button-warning {
	background: #F2994A;
  color: black;
	padding: 17px;
	/*margin: 20px;*/
	width: 2rem;
	height: 1rem;
  border-radius: 20px;
}
.header-container{
  justify-content: space-between;
}
.botoes__Menu {
	display: flex;
  gap: 1.5rem;
  justify-content: space-around;
	align-items: center;
}

.nav-bar {
  background: #092C4C;
}

span {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
  padding-left: 45px;
  padding-top: 5px;
}

.spacer {
  flex: 1 1 auto;
}

a{
  color: white;
}
a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #F2994A;
}
.active {
  color: #F2994A;
}
