<p-button id="addpergunta"
  label="+ Adicionar Pergunta"
  routerLink="/comunidade/novapergunta"
></p-button>
<router-outlet></router-outlet> 
<!-- added -->
<div class="container">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
    <input type="text" [(ngModel)] = "busca" class="form-control" placeholder="Busca"  aria-describedby="basic-addon1" (ngModelChange)="filtraPorTitulo($event)"/>
  </div>
<p-card
  *ngFor="let pergunta of chapterAssuntos.slice(startIndex, endIndex)"
  header="{{ pergunta.titulo }}" 
  subheader="{{ pergunta.usuario.nomeCompleto }}"
>
  <ng-template pTemplate="header">
  </ng-template>
  <p>
    {{ pergunta.descricao }}
  </p>
  <p-button id="comentarios" routerLink="/comunidade/comentario/{{pergunta.id}}"><i class="pi pi-comment"></i></p-button>  
  <ng-template pTemplate="footer">
    <!--
    <p-button id="comentarios" routerLink="/comunidade/comentario/{{pergunta.id}}"><i class="pi pi-comment"></i></p-button>
    <p-button id="curtidas"><i class="pi pi-thumbs-up"></i></p-button>
    <p-button id="visualizacoes">{{ pergunta.contadorVisualizacao }}<i class="pi pi-eye"></i></p-button>
    -->
  </ng-template>
</p-card>
<div id="paginacao">
  <button class="btn btn-primary" id ="Anterior"(click)="previousPage()" [disabled]="currentPage === 1"> < </button>
  <button *ngFor="let i of totalPages" id="i" (click)="irParaPagina(i)" class="btn btn-primary" style="margin:0 5px ;"> {{i}} </button>
  <button class="btn btn-primary" id= "Proximo" (click)="nextPage()" [disabled]="endIndex >= chapterAssuntos.length"> > </button>
</div>
</div>