<p-button id="addpergunta"
  label="+ Adicionar Pergunta"
  routerLink="/comunidade/novapergunta"
></p-button>
<router-outlet></router-outlet>
<div class="container">

<p-card
  *ngFor="let pergunta of chapterAssuntos.slice(startIndex, endIndex)"
  header="{{ pergunta.chapter.nome }}"
  subheader="{{ pergunta.usuario.nomeCompleto }}"
>
  <ng-template pTemplate="header">

  </ng-template>
  <p>
    {{ pergunta.descricao }}
    
  </p>
  <ng-template pTemplate="footer">
    <p-button id="comentarios" routerLink="/comunidade/comentario/{{pergunta.id}}"><i class="pi pi-comment"></i></p-button>
    <p-button id="curtidas"><i class="pi pi-thumbs-up"></i></p-button>
    <p-button id="visualizacoes">{{ pergunta.contadorVisualizacao }}<i class="pi pi-eye"></i></p-button>
  </ng-template>
</p-card>
<div id="paginacao">
  <button  id ="Anterior"(click)="previousPage()" [disabled]="currentPage === 1"> <- </button>
  <button id= "Proximo" (click)="nextPage()" [disabled]="endIndex >= chapterAssuntos.length"> -> </button>
</div>

</div>