

#paginacao {
    display: flex;
    flex-direction: row;
   
    justify-content: center;
    
}

#Proximo {
    margin-left: 5px;
}



.container{
    display: flex;
    flex-direction: column;
}

#curtidas {
    margin-left: 1000px;
    padding: 10px;
}

#addpergunta {
    margin-left: 700px;
}


:host ::ng-deep .p-card {
    margin: 10px;
    border-radius: 25px !important;
    border: 2px solid #012544;
}
:host ::ng-deep .p-card-header {
    border-radius: 25px 25px 0px 0px !important;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}
:host ::ng-deep .p-card .p-card-subtitle {
    color: black !important;
}
:host ::ng-deep .p-card .p-card-content {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

