<router-outlet></router-outlet>
<!-- added -->
<div class="container">
	<div id="content">
		<div id="page-questions" class="col-10">
			<div id="header">
				<h1>Todas as Perguntas</h1>
				<button type="button" class="btn btn-primary new-question" routerLink="/comunidade/novapergunta">
					Nova Pergunta
				</button>
			</div>
			<div id="search">
				<div class="input-group mb-3 search-bar">
					<input
						type="text"
						[(ngModel)]="busca"
						class="form-control"
						placeholder="Busca"
						aria-describedby="basic-addon1"
						(ngModelChange)="filtraPorTitulo($event)" />
					<span class="input-group-text" id="basic-addon1" style="background-color: #1660a5; color: white"
						><i class="fas fa-search"></i
					></span>
				</div>
				<button type="button" class="btn btn-outline-secondary filter" routerLink="/comunidade/novapergunta">
					<i class="bi bi-filter">Filtros</i>
				</button>
			</div>
			<div *ngFor="let pergunta of chapterAssuntos.slice(startIndex, endIndex)" class="questionHolder">
				<div class="card question-card">
					<div class="card-body question-info">
						<div class="question-data">
							<img class="user-image" src="{{ 'data:image/png;base64,' + usuario.foto }}" />
							<div class="question-texts">
								<h4>{{ pergunta.usuario.nomeCompleto }}</h4>
								<h5>Informações estudante</h5>
							</div>
						</div>
						<div class="question-actions">
							<button type="button" class="btn btn-light">
								<p>{{pergunta.totalComentarios}}</p>
								<i class="bi bi-chat"></i>
							</button>
							<button type="button" class="btn btn-light">
								<p>40</p>
								<i class="bi bi-hand-thumbs-up"></i>
							</button>
							<button type="button" class="btn btn-light">
								<p>{{pergunta.contadorVisualizacao}}</p>
								<i class="bi bi-eye"></i>
							</button>
						</div>
					</div>
					<div class="card-body question-big-text">
						<h1 routerLink="/comunidade/comentario/{{ pergunta.id }}">{{ pergunta.titulo }}</h1>
						<h4 class="author">{{ pergunta.usuario.nomeCompleto }}</h4>
						<h3>
							{{ pergunta.descricao }}
						</h3>
					</div>
					<div class="card-body question-tags">
						<button *ngFor="let i of pergunta.chapterTag" type="button" class="btn btn-light">
							<i class="bi bi-tags"></i>
							<p>{{i.descricao}}</p>
						</button>
						
					</div>
				</div>
			</div>
		</div>
		<div id="side-info" class="col-3">
			<div class="card border-gray mb-3 vertical-stack" style="max-width: 18rem">
				<div class="card-header">
					<h1>Chapter</h1>
					<p><a class="link-opacity-100" href="#">ver todos</a></p>
				</div>
				<div class="card-body">
					<a *ngFor="let i of chapterTodos" class="card-text" [(ngModel)]="busca" (click)="filtraPorChapter(i.nome)">{{i.nome}}<br></a>
				</div>
			</div>
			<div class="card border-gray mb-3 vertical-stack" style="max-width: 18rem">
				<div class="card-header">
					<h1>Tags</h1>
					<p><a class="link-opacity-100" href="#">ver todos</a></p>
				</div>
				<div class="card-body tags-card">
					<button *ngFor="let i of chapterTagTodos" type="button" class="btn btn-light">
            <i class="bi bi-tags"></i>
            <p >{{i.descricao}}</p>
          </button>
				</div>
			</div>
			<div class="card border-gray mb-3 vertical-stack" style="max-width: 18rem">
				<div class="card-header">
					<h1>Top contribuidores</h1>
				</div>
				<div *ngFor="let i of rankComentarios" class="card-body">
					<img class="user-image" src="{{ 'data:image/png;base64,' + usuario.foto }}" />
					<p >{{i.usuario.nomeCompleto}}</p>
          <p >{{i.count}}</p>
				</div>
			</div>
		</div>
	</div>

	<!-- <p-card
		*ngFor="let pergunta of chapterAssuntos.slice(startIndex, endIndex)"
		header="{{ pergunta.titulo }}"
		subheader="{{ pergunta.usuario.nomeCompleto }}">
		<ng-template pTemplate="header"> </ng-template>
		<p>
			{{ pergunta.descricao }}
		</p>
		<p-button id="comentarios" routerLink="/comunidade/comentario/{{ pergunta.id }}"
			><i class="pi pi-comment"></i
		></p-button>
		<ng-template pTemplate="footer">
			<p-button id="comentarios" routerLink="/comunidade/comentario/{{ pergunta.id }}"
				><i class="pi pi-comment"></i
			></p-button>
			<p-button id="curtidas"><i class="pi pi-thumbs-up"></i></p-button>
			<p-button id="visualizacoes">{{ pergunta.contadorVisualizacao }}<i class="pi pi-eye"></i></p-button>
		</ng-template>
	</p-card> -->
	<div id="paginacao">
		<button class="btn btn-primary" id="Anterior" (click)="previousPage()" [disabled]="currentPage === 1"><</button>
		<button *ngFor="let i of totalPages" id="i" (click)="irParaPagina(i)" class="btn btn-primary" style="margin: 0 5px">
			{{ i }}
		</button>
		<button class="btn btn-primary" id="Proximo" (click)="nextPage()" [disabled]="endIndex >= chapterAssuntos.length">
			>
		</button>
	</div>
</div>
