<div *ngIf="$isProfessor">
  <p-toast></p-toast>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>

    <section class="formModelStandalone">
      <h1>Registrar Conceitos</h1>
      <div class="grupo-estudante" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50">
        <div class="p-field grupo">
        <span class="p-float-label">
          <p-dropdown
            id="grupo"
            inputId="grupo"
            optionLabel="descricao"
            [(ngModel)]="grupoFormModelStandalone"
            [ngModelOptions]="{standalone: true}"
            [options]="grupos"
            [placeholder]="'Escolha sua unidade curricular'"
            (onChange)="onChange($event)"
          >
          </p-dropdown>
          <label for="grupo">Escolha sua unidade curricular</label>
        </span>
          <small
            *ngIf="formGroup.get('grupo')?.hasError('required') && formGroup.get('grupo')?.touched"
            class="p-error"
          >
            Escolher sua disciplina é obrigatório.
          </small>
        </div>
      </div>
    </section>

    <section class="estudante-atividade" *ngIf="grupoFormModelStandalone !== ''">
      <div class="card">
        <p-table
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [value]="estudantes"
          [paginator]="true"
          [rows]="5"
          [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          [rowsPerPageOptions]="[5, 10, 25, 50]"
          [loading]="isLoading"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Estudante</th>
              <th>Tipo de avaliação</th>
              <th>Lista de Atividades</th>
              <th>Conceito da avaliação</th>
              <th>Comentário da avaliação</th>
              <th>Ações</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-estudante>
            <tr *ngIf="!isLoading">
              <td>
                <p>{{ estudante.usuario.nomeCompleto }}</p>
              </td>
              <td>
                <div class="p-field avaliacaoTipo">
                      <span class="p-float-label">
                        <p-dropdown
                          id="avaliacaoTipo"
                          inputId="avaliacaoTipo"
                          [options]="avaliacaoTipo"
                          [placeholder]="'Tipo de avaliação'"
                          [(ngModel)]="avaliacaoTipoFormModelStandalone"
                          [ngModelOptions]="{standalone: true}"
                          class="custom-dropdown"
                        >
                        </p-dropdown>
                        <label for="avaliacaoTipo">Tipo de avaliação</label>
                      </span>
                </div>
              </td>
              <td style="min-width: 35rem">
                <p-accordion>
                  <p-accordionTab header="Atividades">
                    <p-table
                      [value]="acompanhamentos"
                      [paginator]="true"
                      [rows]="5"
                      [rowsPerPageOptions]="[5, 10, 25, 50]">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Atividades</th>
                          <th>Conceito</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-acompanhamento>
                        <tr>
                          <td>
                            <a [href]="mock.arquivoMock" download="arquivo">
                              <small>{{ acompanhamento.situacaoAprendizagem.titulo != null ? acompanhamento.situacaoAprendizagem.titulo : '' }}</small>
                            </a>
                          </td>
                          <td>
                            <p-tag
                              [value]="acompanhamento.avaliacaoConceito.descricao != null ? acompanhamento.avaliacaoConceito.descricao : 'SA'"
                              [severity]="getSeverity(acompanhamento.avaliacaoConceito.descricao)">
                            </p-tag>
                          </td>
                        </tr>
                      </ng-template>

                    </p-table>
                  </p-accordionTab>
                </p-accordion>
              </td>
              <td>
                <div class="p-field avaliacaoConceito">
                        <span class="p-float-label">
                          <p-dropdown
                            id="avaliacaoConceito"
                            inputId="avaliacaoConceito"
                            [options]="avaliacaoConceito"
                            [placeholder]="'Conceito de avaliação'"
                            [(ngModel)]="avaliacaoConceitoFormModelStandalone"
                            [ngModelOptions]="{standalone: true}"
                          >
                          </p-dropdown>
                          <label for="avaliacaoConceito">Conceito de avaliação</label>
                        </span>
                </div>
              </td>
              <td>
                <div class="p-field comentario">
                  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10">
                          <span class="p-float-label">
                            <input pInputText
                                   id="comentario"
                                   type="text"
                                   [(ngModel)]="comentarioFormModelStandalone"
                                   [ngModelOptions]="{standalone: true}"
                            />
                            <label for="comentario">Comentário</label>
                          </span>
                  </div>
                </div>
              </td>
              <td>
                <button
                  pButton
                  type="button"
                  icon="pi pi-save"
                  (click)="onSubmit()"
                >
                </button>
              </td>
            </tr>
            <tr *ngIf="isLoading">
              <td></td>
              <td>Carregando os dados</td>
              <td></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </section>
  </form>
</div>
