<div class="card">
	<p-tabView styleClass="tabview-custom">
		<p-tabPanel>
			<ng-template pTemplate="header">
				<span>Inicio</span>
			</ng-template>
			<div
				class="linhaZero"
				style="
					display: flex;
					flex-direction: row;
					padding: 25px 25px;
					justify-content: space-between;
				">
				<app-usuario-dados></app-usuario-dados>
				<app-usuario-badges></app-usuario-badges>
			</div>
			<div
				class="linhaUm"
				style="
					display: flex;
					justify-content: space-between;
					padding: 25px 25px;
				">
				<app-usuario-calendario-academico></app-usuario-calendario-academico>
				<app-usuario-proximas-atividades></app-usuario-proximas-atividades>
				<app-usuario-arquivos-privados></app-usuario-arquivos-privados>
			</div>
			<p>Lista de unidades curriculares matriculadas no semestre.</p>
			<app-usuario-lista-uc></app-usuario-lista-uc>
		</p-tabPanel>
		<p-tabPanel>
			<ng-template pTemplate="header">
				<span>Comunidades</span>
			</ng-template>
			<app-apoio-duvidas></app-apoio-duvidas>
			<!--
			<app-chapter-listagem-geral></app-chapter-listagem-geral>	
			-->			
		</p-tabPanel>
		<p-tabPanel>
			<ng-template pTemplate="header">
				<span>Conceitos</span>
			</ng-template>
			<app-conceitos-feedbacks></app-conceitos-feedbacks>
		</p-tabPanel>
		<p-tabPanel>
			<ng-template pTemplate="header">
				<span>Recursos Digitais</span>
			</ng-template>
			<app-usuario-recursos></app-usuario-recursos>
		</p-tabPanel>
		<!--
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>Introdução a Programação</span>
        </ng-template>
        <app-unidade-curricular-descricao></app-unidade-curricular-descricao>
      </p-tabPanel>      
      -->
		<p-tabPanel>
			<ng-template pTemplate="header">
				<span>Trilha do Curso</span>
			</ng-template>
			<app-trilha-curso></app-trilha-curso>
		</p-tabPanel>
		<p-tabPanel>
			<ng-template pTemplate="header">
				<span>Senac Coin</span>
			</ng-template>
			<app-senac-coin></app-senac-coin>
		</p-tabPanel>
		<p-tabPanel heig>
			<ng-template pTemplate="header">
				<span>Requerimento Web</span>
			</ng-template>
			<p>
				<iframe
					width="100%"
					height="600vh"
					frameBorder="0"
					[src]="urlSafe"></iframe>
			</p>
		</p-tabPanel>
		<p-tabPanel>
			<ng-template pTemplate="header">
				<span>Ajuda</span>
			</ng-template>
			<p>
				At vero eos et accusamus et iusto odio dignissimos ducimus qui
				blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
				et quas molestias excepturi sint occaecati cupiditate non provident,
				similique sunt in culpa qui officia deserunt mollitia animi, id est
				laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
				distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
				cumque nihil impedit quo minus.
			</p>
		</p-tabPanel>
	</p-tabView>
</div>
