:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
	background-color: #092c4c;
	color: #ffff;
	border-color: #ef8f2f;
	transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
	border-width: 0 0 3px 0;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
	background-color: #092c4c;
	color: #ffff;
}

:host ::ng-deep .p-tabview-nav {
	background-color: #092c4c;
}

p {
	font-size: 1rem;
	padding: 5px;
	font-weight: bold;
	color: #092c4c;
}

.dashboard-usuario-card-coin {
	background: white;
	box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
	border: transparent;
	padding: 2.5rem;
	margin-top: 35px;
	padding-right: 80px;
	margin-right: 15px;

  }

  .dashboard-usuario-card-badges {
	background: white;
	box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
	border: transparent;
	padding: 2.5rem;
	margin-top: 50px;
	padding-right: 80px;
	margin-right: 15px;
  }