<div class="container-fluid">
  <div style="display:flex ; flex-direction: row-reverse; flex-wrap: wrap; justify-content: space-around; margin-top: 30px;">
    <div class="usuario-">
      <div>
        <app-menu-usuario></app-menu-usuario>
      </div>
      <div class="dashboard-usuario-card-coin">
        <app-usuario-dados></app-usuario-dados>
      </div>
      <div class="dashboard-usuario-card-badges">
        <app-usuario-badges></app-usuario-badges>
      </div>
      <!-- <div>
        <app-usuario-arquivos-privados></app-usuario-arquivos-privados>
      </div> -->
    </div>
    <div class="usuario-calendario-academico">
      <div style="margin-top: 20px">
        <app-usuario-calendario-academico></app-usuario-calendario-academico>
      </div>
    </div>
    <div>
      <div class="usuario-proximas-atividades" style="margin-bottom: 40px;">
        <app-usuario-proximas-atividades></app-usuario-proximas-atividades>
      </div>
    </div>
  </div>
  <div style="margin-top: 1rem;">
    <app-usuario-lista-uc></app-usuario-lista-uc>
  </div>
</div>
