<div class="container-fluid">
  <div style="display:flex ; flex-direction: row; justify-content: space-around; margin-top: 30px;">
      <div>
        <app-usuario-proximas-atividades></app-usuario-proximas-atividades>
      </div>
      <div>
        <app-usuario-calendario-academico></app-usuario-calendario-academico>
      </div>

      <div>
        <app-usuario-dados></app-usuario-dados>
      </div>
      <div>
        <app-usuario-badges></app-usuario-badges>
      </div>
  </div>
  <div>
    <app-usuario-lista-uc></app-usuario-lista-uc>
  </div>
</div>