:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
	background-color: #092c4c;
	color: #ffff;
	border-color: #ef8f2f;
	transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
	border-width: 0 0 3px 0;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
	background-color: #092c4c;
	color: #ffff;
}

:host ::ng-deep .p-tabview-nav {
	background-color: #092c4c;
}

p {
	font-size: 1rem;
	padding: 5px;
	font-weight: bold;
	color: #092c4c;
}

.dashboard-usuario-card-coin {
	background: white;
	box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
	border: transparent;
	padding: 2rem;
	margin-top: 70px;
	margin-right: 13px;
	right: 10px;
  }
  /* Responsividade */

  .dashboard-usuario-card-badges {
	background: white;
	box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
	border: transparent;
	padding: 2rem;
	margin-top: 20px;
	margin-right: 13px;
  }

  @media screen and (max-width: 900px) {
	.proximas-atividades {
		position: absolute;
		width: 45rem;
		left: 2.1rem;
		bottom: 38rem;
	  }
	  
	  .calendario-academico {
		position: absolute;
		top: 25rem;
		left: 18rem;
	  }
	
	.dashboard-usuario-card-coin {
		margin-top: 47rem;
		margin-bottom: 3rem;
		width: 22rem;
		left: 0.9rem;
	}

	.dashboard-usuario-card-badges {
		margin-bottom: 2rem;
		width: 22rem;
		left: 0.9rem;
	  }
  
	.app-usuario-calendario-academico {
	  margin-left: 0;
	  margin-bottom: 35px;
	}
  }
  
