<section>
    <div class="container pt-3" *ngIfElse="chat; else chat">
      <p-tabView>
        <p-tabPanel header="Ultimas Mensagens">
          <div class="card">
            <div class="card-body">
              <ul class="list-unstyled mb-0">
                <li *ngFor="let item of list">
                  <app-card-contato
                    [nome]="item.nome"
                    [msg]="item.msg"
                    [img]="item.img"
                    [unreaded]="item.unreaded"
                    (click)="toggleChat()"
                  ></app-card-contato>
                </li>
              </ul>

            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Favoritos">
          <div class="card">
            <div class="card-body">
              <div class="list-unstyled mb-0">
                <div *ngFor="let item of fav">
                  <app-card-contato
                    [nome]="item.nome"
                    [msg]="item.msg"
                    [img]="item.img"
                    [unreaded]="item.unreaded"
                    (click)="toggleChat()"
                  ></app-card-contato>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Grupos">
          <div class="card">
            <div class="card-body">
              <div class="list-unstyled mb-0">
                <div *ngFor="let item of group">
                  <app-card-contato
                    [nome]="item.nome"
                    [msg]="item.msg"
                    [img]="item.img"
                    [unreaded]="item.unreaded"
                    (click)="toggleChat()"
                  ></app-card-contato>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>

        <ng-template #chat class="container py-5">

          <div class="row">
            <i class="pi pi-arrow-left" (click)="toggleChat()"></i>
            <div class="card">
              <div class="card-body">
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between mb-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar"
                    class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                  <div class="card">
                    <div class="card-header d-flex justify-content-between p-3">
                      <p class="fw-bold mb-0">Brad Pitt</p>
                      <p class="text-muted small mb-0"><i class="far fa-clock"></i> 12 mins ago</p>
                    </div>
                    <div class="card-body">
                      <p class="mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="d-flex justify-content-between mb-4">
                  <div class="card w-100">
                    <div class="card-header d-flex justify-content-between p-3">
                      <p class="fw-bold mb-0">Lara Croft</p>
                      <p class="text-muted small mb-0"><i class="far fa-clock"></i> 13 mins ago</p>
                    </div>
                    <div class="card-body">
                      <p class="mb-0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium.
                      </p>
                    </div>
                  </div>
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                    class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                </li>
                <li class="d-flex justify-content-between mb-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar"
                    class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                  <div class="card">
                    <div class="card-header d-flex justify-content-between p-3">
                      <p class="fw-bold mb-0">Brad Pitt</p>
                      <p class="text-muted small mb-0"><i class="far fa-clock"></i> 10 mins ago</p>
                    </div>
                    <div class="card-body">
                      <p class="mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="bg-white mb-3">
                  <div class="form-outline">
                    <textarea class="form-control" id="textAreaExample2" rows="4"></textarea>
                    <label class="form-label" for="textAreaExample2">Message</label>
                  </div>
                </li>
                <button type="button" class="btn btn-info btn-rounded float-end">Send</button>
              </ul>

            </div>
            </div>

          </div>

        </ng-template>
    </div>

    <app-card-mensagem></app-card-mensagem>
  </section>
