#perguntar {
  display: flex;
  flex-direction: row-reverse;
}

#perguntar button {
  margin: 0px 0px 0px 10px;
}

button {
  background-color: #004A8D;
  color: white;
  border-radius: 6px;
  border: 1px solid #dee2e6;
  margin-bottom: 12px;
}

button:hover {
  background-color: #003057;
  color: white;
  border-radius: 6px;
  border: 1px solid #dee2e6;
}

h2 {
  color: #004A8D;
  font-weight: 600;
}

form {
  background-color: #f8f9fa;
  border-radius: 6px;
  border: 1px solid #dee2e6;
  padding: 8px 18px 8px 18px;
  margin: 25px 0px 8px 0px;
}

form label {
  font-weight: 500;
  font-size: large;
  color: #004A8D;
  padding: 8px;
}

.tags {
width: 100%;
}

@media (min-width: 768px) {
select.form-control {
  width: 50%;
}
}
