.card-recursos{
    padding: 32px;
    background-color: black;
}

.page-container {
  height: 90vh;
}

.content-container {
  height: 85%;
}

.arquivo-nav {
  width: 70%;
  padding: 0.5rem;
  /* background-color: #b8d3ff; */
  background-color: white;
  text-align: center;
  align-self: center;
  font-family: 'PoppinsLight';
  cursor: pointer;
}

.selected {
  background-color: #b8d3ff;
}

p {
  font-family: 'PoppinsRegular';
  margin: 0;
}

.icon {
  font-size: 20px;
}

h1 {
  font-family: 'PoppinsSemiBold';
  font-size: 16px;
  color: #004A8D;
}
