<div class="user-card-container">
	<!-- <img class="user-image" src="{{'data:image/png;base64,' + usuario.foto}}" /> -->
	<div class="user-info">
		<!-- <p class="user-name">{{usuario.nomeCompleto}}</p> -->
		<!-- <p class="user-email">{{usuario.email}}</p> -->
		<div class="user-stats">
			<!-- <p>Senac Coin: {{senacCoin.saldo}}</p> -->
			<h2 style="color: #092C4C">Saldo Senac Coin</h2>
			<div class="saldo-box">
				{{senacCoin.saldo}} 
			</div>
			<i class="pi pi-th-large"  [routerLink]="['/senacCoin/usuariosenaccoin']"></i>
			<!-- Necessário endpoint para nível do usuário -->
			<!-- <p>Nível: 1</p> -->
		</div>
	</div>
</div>