.user-card-container {
	position: relative;
	background: white;
	box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
	border: transparent;
	padding: 1rem;
	width: 30rem;
	left: 29.5rem;
	margin-top: 2rem;
  }

.user-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	margin-right: 200px;
}

.saldo-box {
	width: 15rem;
	height: 50px;
	background-color: #ffffff;
	border: 1px solid #CBD5E1;
	border-radius: 5px;
	margin-top: 1.5rem;
  }

  .pi-th-large {
	scale: 1.5;
	color: #092C4C;
	position: absolute;
	top: 80%;
	right: 1.3rem;
	transform: translateY(-50%);
  }

  @media screen and (max-width: 1280px) {
	.user-card-container {
	  position: relative; /* Adicionado para que o ícone seja posicionado em relação a este contêiner */
	  margin-top: 42rem;
	  width: 22rem;
	  left: 11rem;
	}
  
	.pi-th-large {
	  position: absolute;
	  right: 2rem; /* Ajuste conforme necessário para movê-lo mais para a direita */
	}
  }
  
  