/* *,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.card {
	width: 30rem;
	height: 22rem;
	border-radius: 1rem;
	background: white;
	border: transparent;
}

.card .card__header {
	color: #092c4c;
}

.card__body {
	padding: 0px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	scale: 1.5;
	color: orange;
}
.atividade {
	padding: 15px 25px;
}

.bloco__atividade {
	display: flex;
	align-items: center;
	padding: 10px 10px;
	width: 320px;
	justify-content: space-between;
	margin-top: 1rem;
}

.texto1,
p {
	display: flex;
	flex-direction: row;
	font-size: 1rem;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: clip;
	width: 300px;
	height: 24px;
	margin-left: 24px;
	justify-content: left;
}

.sub__header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: left;
}

.pi-pencil {
	scale: 0.9;
} */