<p
	style="
		color: #092c4c;
		font-size: 1rem;
		padding: 0px 10px;
		font-weight: bold;
	">
	Tarefas
</p>
<div class="card">
	<div class="atividade">
		<h2 class="header">{{atividades[0].dataFim | date:"dd/MM/yyyy":"+0000"}}</h2>
		<div class="bloco__atividade">
			<i class="pi pi-pencil" style="font-size: 1rem"></i>
			<div class="sub__header">
				<div class="texto1" style="font-weight: bold;">{{atividades[0].descricao}}</div>
				<p>Introdução à Programação</p>
			</div>
		</div>
	</div>
	<div class="atividade">
		<h2 class="header">{{atividades[1].dataFim | date:"dd/MM/yyyy":"+0000"}}</h2>
		<div class="bloco__atividade">
			<i class="pi pi-pencil" style="font-size: 1rem"></i>
			<div class="sub__header">
				<div class="texto1" style="font-weight: bold;">{{atividades[1].descricao}}</div>
				<p>Introdução à Programação</p>
			</div>
		</div>
	</div>
</div>