.proximas-atividades {
    width: 100%;
     margin-left: 13px;
     box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
     margin-top: 110px; 
     margin-right: -2px;
}

@media screen and (max-width: 1080px) {
    .proximas-atividades {
        position: absolute;
        width: 22rem;
        left: 2.2rem;
        bottom: 13rem;
    }
}
