.calendario-academico {
  margin-left: 55%; 
  margin-bottom: 50px;
  width: 25rem;
}

@media screen and (max-width: 1280px) {
  .calendario-academico {
		position: absolute;
		right: 2.5rem;
    width: 22rem;
  }
}