.calendario-academico {
  margin-left: 55%;
  margin-bottom: 50px;
  width: 25rem;
}

@media screen and (max-width: 1080px) {
  .calendario-academico {
		position: absolute;
		right: 3rem;
    width: 22rem;
  }
}
