<div class="news-container">
  <div class="card" *ngFor="let news of newsList; let i = index">
    <p-card class="pcard">
      <ng-template pTemplate="header">
        <div class="image-container">
          <img class="news-image" src="{{ 'data:image/png;base64,' + news.imagem }}" />
        </div>
      </ng-template>
      <div class="card-body">
       <h2>{{ news.titulo }}</h2>
       <div class="description" [innerHTML]="news.descricao"></div>
      </div>
      <ng-template class="footer" pTemplate="footer">
        <p-button (click)="verNoticiaCompleta(news)">Leia mais</p-button>
      </ng-template>
    </p-card>
  </div>
</div>
