<section style="display: flex; gap: 2rem">
  <mat-card class="card" *ngFor="let badge of badges">
    <mat-card-header>
      <mat-card-title>
        <p>{{badge.descricao}}</p>
      </mat-card-title>
      <mat-card-subtitle>{{badge.badgeNivel.descricao}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img class="image" mat-card-image [src]="'data:image/jpg;base64,'+badge.imagem" alt="badge">
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="['/badges/estudante/detalhe', badge.id]">MAIS DETALHES</button>
    </mat-card-actions>
  </mat-card>
</section>
