

h1 {
  font-family: 'PoppinsSemiBold';
  letter-spacing: -0.05rem;
  color: #004A8D;
}

h2 {
  font-family: 'PoppinsSemiBold';
  letter-spacing: -0.05rem;
  font-size: 20px !important;
}

.detalhes-uc {
  font-family: 'PoppinsSemiBold';
  font-size: 14px;
  color: #004A8D;
  letter-spacing: -0.04rem;
}

p {
  font-family: 'PoppinsRegular';
  font-size: 14px;
}

.icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  /* width: 20px;
  height: 20px; */
}

.info-link {
  color: blue;
  text-decoration: underline;
}

.info-link:hover {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
}
