* {
  font-family: 'PoppinsRegular';
}

h1 {
  font-family: 'PoppinsSemiBold';
  letter-spacing: -0.05rem;
  color: #004A8D;
}

h2 {
  font-family: 'PoppinsSemiBold';
  letter-spacing: -0.05rem;
  font-size: 20px !important;
}
