<div class="border rounded p-3">
  <div class="text">
    <h1>{{grupo.unidadeCurricular.nome}}</h1>
    <p>Sobre este curso</p>
    <p>{{planejamentoUc.descricao}}</p>
  </div>
  <div class="info d-sm-flex align-items-center justify-content-evenly">
    <div class="">Detalhes da UC</div>
    <div>
      <div>Carga Horária: {{grupo.unidadeCurricular.horas}}h</div>
      <div>{{grupo.unidadeCurricular.modulo.descricao}}</div>
    </div>
    <div>
      <div>Bibliografia</div>
      <div>Planejamento da UC</div>
    </div>
  </div>
</div>
