<div class="container p-3">
  <div class="row">
    <div id="content">
      <div id="page-questions" class="col-12">
        <div id="header">
          <h1>Todas as Perguntas</h1>
          <button
            type="button"
            class="btn btn-primary new-question"
            routerLink="./novapergunta"
          >
            Nova Pergunta
          </button>
        </div>
        <div id="search">
          <div class="input-group mb-3 search-bar">
            <input
              type="text"
              [(ngModel)]="busca"
              class="form-control"
              placeholder="Busca"
              aria-describedby="basic-addon1"
              (ngModelChange)="filtraPorTitulo($event)"
            />
            <span
              class="input-group-text"
              id="basic-addon1"
              style="background-color: #1660a5; color: white"
              ><i class="fas fa-search"></i
            ></span>
          </div>
          <div class="btn-group">
            <button
              class="btn btn-secondary btn-sm dropdown-toggle filter"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-filter"></i> Filtros
            </button>
            <ul class="dropdown-menu">
              <li><a (click)="ordernarPorData('decrescente')" class="dropdown-item">Mais recentes</a></li>
              <li><a (click)="ordernarPorData('crescente')" class="dropdown-item">Mais antigos</a></li>
              <li><a class="dropdown-item">Mais respondidos</a></li>
              <li><a class="dropdown-item">Mais curtidos</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item">tags</a></li>
              <li><a class="dropdown-item">com resposta verificada</a></li>
            </ul>
          </div>
        </div>
        <div
          *ngFor="let pergunta of chapterAssuntos"
          class="questionHolder"
        >
          <app-card-topico-forum-uc
            [topico]="pergunta"
          ></app-card-topico-forum-uc>
        </div>
      </div>
      <div id="side-info" class="col-3">
        <!-- <div
          class="card border-gray mb-3 vertical-stack"
          style="max-width: 18rem"
        >
        </div> -->
        <div
          *ngIf="chapterTagTodos"
          class="card border-gray mb-3 vertical-stack"
          style="max-width: 18rem"
        >
          <div class="card-header">
            <h1>Tags</h1>
            <p><a class="link-opacity-100" href="#">ver todos</a></p>
          </div>
          <div class="card-body tags-card" >
            <button *ngFor="let i of chapterTagTodos" type="button" class="btn btn-light">
              <i class="bi bi-tags"></i>
              <p>{{ i.descricao }}</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
