<div class="container">
    <h1 class="title">Notícias</h1>
    <div class="articles">
        <div class="article">
            <div class="article-content">
                <h3>Inscrições Unidade Curricular Optativa Libras</h3>
                <div class="article-info">
                    <p>Se você tem interesse em aprender Libras e se aprofundar no conhecimento sobre a Língua Brasileira de Sinais, ainda é possível se inscrever na Unidade Curricular.</p>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
            <div class="article-image">
                <img src="assets/img/imagem1.png" alt="Imagem 1">
            </div>
        </div>
        <div class="article">
            <div class="article-content">
                <h3>Biblioteca celebra Dia da Educação e Semana da Juventude</h3>
                <div class="article-info">
                    <p>Em 2022 comemoramos o Dia da Educação com algumas atividades super interessantes.</p>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
            <div class="article-image">
                <img src="assets/img/imagem2.png" alt="Imagem 2">
            </div>
        </div>
        <div class="article">
            <div class="article-content">
                <h3>Participe do grupo de estudos de Excel com Agnaldo Cieslak</h3>
                <div class="article-info">
                    <p>O grupo é aberto a todos os interessados em aprender e aprimorar seus conhecimentos.</p>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
            <div class="article-image">
                <img src="assets/img/imagem3.png" alt="Imagem 3">
            </div>
        </div>
    </div>
<!--					<button class="show-more">Mostrar Mais</button> -->
</div>