/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dia-feriado {
    background-color: red !important;
}
.dia-letivo {
    background-color: lightgreen !important;
}
.dia-nao-letivo {
    background-color: rgb(255, 255, 255) !important;
}
.inicio-periodo {
    background-color: rgb(160, 108, 160) !important;
}
.termino-periodo {
    background-color: rgb(160, 108, 160) !important;
}
.sabado-letivo {
    background-color: lightskyblue !important;
}
.recesso-institucional {
    background-color: gray !important;
}

.p-button.p-fileupload-choose {
    background-color: blue;
    
   
  color: white;
  }




/* .p-tabview .p-tabview-panels  */
/* .p-elemente-vai {
    padding: 0px !important ;
    background-color: aqua !important;
} 

#p-tabpanel-3 {
    padding: 0px !important ;
    background-color: aqua !important;
} */

