<div class="p-grid">
  <div class="p-col-12">
    <p-accordion [multiple]="true">
      <p-accordionTab
        *ngFor="let reg of registrosAvaliacaoAtual | keyvalue"
        header="{{ reg.key }}"
      >
        <p-table [value]="reg.value" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Avaliação</th>
              <th>Conceito</th>
              <th>Feedbacks</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-reg>
            <tr>
              <td>{{ reg.avaliacaoTipo.descricao }}</td>
              <td>{{ reg.avaliacaoConceito.descricao }}</td>
              <td>
                <div class="card flex justify-content-center">
                  <p-button (click)="showDialog()" icon="pi pi-external-link" label="Mostrar"></p-button>
                  <p-dialog header="Header" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                  </p-dialog>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
<!-- <p>aaa{{acompanhamento[1].comentarios}}</p> -->