*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.card {
	width: 20rem;
	height: 22rem;
	border-radius: 1rem;
	background: white;
	border: transparent;
	box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
	position: relative;
	color: #434343;
}

.card__body {
	padding: 0px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	scale: 1.5;
	color: orange;
}
.arquivos {
	padding: 15px 10px;
}

.bloco__atividade {
	display: flex;
	align-items: center;
	padding: 10px 10px;
	width: 300px;
	margin-top: 1rem;
}

.texto1 {
	display: flex;
	flex-direction: row;
	font-weight: 500;
	font-size: 1rem;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: clip;
	width: 200px;
	height: 24px;
	margin-left: 24px;
	justify-content: left;
}

.sub__header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.pi-pencil {
	scale: 0.9;
}