<p-panel p-panel [style]="{ width: '50%','margin-left': '13px','box-shadow': '8px 3px 22px 10px rgba(150, 150, 150, 0.11)'}" styleClass="no-border">
	<ng-template pTemplate="header">
		<b>Arquivos Privados</b>
	  </ng-template> 
	<p-listbox [options]="recursos" [(ngModel)]="selectedRecurso" optionLabel="nomeArquivo" [listStyle]="{ 'max-height': '110px' }" [style]="{ width: '100%', 'border-color': 'transparent'}">  
	  <ng-template let-recurso pTemplate="item">
		<div class="flex align-items-center gap-2">       
		  <div><i class="pi pi-file" style="font-size: 1rem; width: 18px"></i>{{ recurso.nomeArquivo }}</div>
		</div>
	  </ng-template>
	</p-listbox>
  </p-panel>
  