<p
	style="
		color: #092c4c;
		font-size: 1rem;
		padding: 0px 10px;
		font-weight: bold;
	">
	Arquivos Privados
</p>
<div class="card">
	<div class="arquivos">
		<div class="bloco__atividade">
			<i class="pi pi-file" style="font-size: 1rem"></i>
			<div class="sub__header">
				<div class="texto1">{{recursos[0].nomeArquivo}}</div>
			</div>
		</div>
		<div class="bloco__atividade">
			<i class="pi pi-file" style="font-size: 1rem"></i>
			<div class="sub__header">
				<div class="texto1">{{recursos[1].nomeArquivo}}</div>
			</div>
		</div>
		<div class="bloco__atividade">
			<i class="pi pi-file" style="font-size: 1rem"></i>
			<div class="sub__header">
				<div class="texto1">{{recursos[2].nomeArquivo}}</div>
			</div>
		</div>
		<div class="bloco__atividade">
			<i class="pi pi-file" style="font-size: 1rem"></i>
			<div class="sub__header">
				<div class="texto1">{{recursos[3].nomeArquivo}}</div>
			</div>
		</div>
	</div>
</div>