<div id="container">
  <div id="content" class="col-9">

    <div class="header">
      <button type="button" class="btn btn-default back-btn" (click)="onCancel()" routerLink="/comunidade"> <i
          class="bi bi-arrow-bar-left"></i> Voltar</button>
    </div>

    <!-- pergunta -->
    <div class="card question-card">
      <div class="card-body question-info">
        <div class="question-data">
          <img class="user-image" src="{{ 'data:image/png;base64,' + pergunta.usuario.foto }}" />
          <div class="question-texts">
            <h4 class="comentario-usuario-nome">
              {{pergunta.usuario.nomeCompleto}}
            </h4>
            <h5>{{pergunta.dataCadastro | date}}</h5>
          </div>
        </div>
      </div>
      <div class="answer-body">
        <div class="card-body question-big-text">
          <h1 routerLink="/comunidade/comentario/">
            {{pergunta.titulo}}
          </h1>
          <h3>
            {{pergunta.descricao}}
          </h3>
        </div>
        <div class="card-body question-tags">
          <button type="button" class="btn btn-light">
            <i class="bi bi-tags"></i>
            <p>sql</p>
          </button>
          <button type="button" class="btn btn-light">
            <i class="bi bi-tags"></i>
            <p>sql</p>
          </button>
          <button type="button" class="btn btn-light">
            <i class="bi bi-tags"></i>
            <p>sql</p>
          </button>
        </div>
      </div>
    </div>

    <!-- respostas -->
    <div class="answer-holder">
      <div class="title">
        <h1>Respostas</h1>
        <div class="div">
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle filter" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-filter"></i> Filtros
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">Mais recentes</a></li>
              <li><a class="dropdown-item">Mais antigos</a></li>
              <li><a class="dropdown-item">Mais respondidos</a></li>
              <li><a class="dropdown-item">Mais curtidos</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngFor="let comentario of comentarios.slice(startIndex, endIndex)" class="card answer-card">
        <div class="card-body answer-header">
          <h3>
            <img class="user-image" src="{{ 'data:image/png;base64,' + comentario.usuario.foto }}" />
            {{ comentario.usuario.nomeCompleto }}
          </h3>
          <h4>
            {{ comentario.data }}
          </h4>
          <div class="verified-icon">
            <i class="bi bi-check2-all"></i>Verificado
          </div>
        </div>
        <div class="answer-body">
          <div class="card-body question-text">
            <p>{{ comentario.texto }}</p>
          </div>
          <div class="card-body answer-actions">
            <div class="first-buttons">
              <button type="button" class="btn btn-default first-btn"> <i class="bi bi-hand-thumbs-up"></i>10</button>
              <button type="button" class="btn btn-default first-btn"> <i class="bi bi-chat"></i>Responder</button>
            </div>
            <div class="second-buttons">
              <button type="button" class="btn btn-default second-btn" data-bs-toggle="modal"
                data-bs-target="#exampleModal"> <i class="bi bi bi-pencil"></i></button>
              <button type="button" class="btn btn-default second-btn"> <i class="bi bi-trash"></i></button>
            </div>
          </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- paginacão -->
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" aria-label="Previous" (click)="previousPage()" [class.disabled]="currentPage === 1">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let i of totalPages">
          <a class="page-link" (click)="irParaPagina(i)" [ngClass]="{ active: i === currentPage }">{{ i }}</a>
        </li>
        <li class="page-item">
          <a class="page-link" aria-label="Next" (click)="nextPage()" [class.disabled]="endIndex >= comentarios.length">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- fazer comentários -->
    <form class="needs-validation" novalidate [formGroup]="form">
      <div class="form-group">
        <label for="comentario">Comentário</label>
        <p-editor id="comentario" formControlName="comentario" [style]="{ height: '320px' }">{{ textoSanitizado
          }}</p-editor>
      </div>
    </form>
    <div class="action-buttons">
      <button type="submit" class="btn btn-primary action-send" (click)="onSubmit()"
        routerLink="/comunidade">Enviar</button>
      <button type="button" class="btn btn-primary action-cancel" (click)="limparFormulario()">Limpar Campos</button>
    </div>

  </div>

  <!-- cards da lateral -->
  <div id="side-info" class="col-3">
    <div class="card border-gray mb-3 vertical-stack" style="max-width: 18rem">
      <div class="card-header">
        <h1>Chapter</h1>
        <p><a class="link-opacity-100" href="#">ver todos</a></p>
      </div>
      <div class="card-body">
        <p class="card-text">Banco de Dados</p>
        <p class="card-text">Banco de Dados II</p>
      </div>
    </div>
    <div class="card border-gray mb-3 vertical-stack" style="max-width: 18rem">
      <div class="card-header">
        <h1>Tags</h1>
        <p><a class="link-opacity-100" href="#">ver todos</a></p>
      </div>
      <div class="card-body tags-card">
        <button type="button" class="btn btn-light">
          <i class="bi bi-tags"></i>
          <p>MySQL</p>
        </button>
        <button type="button" class="btn btn-light">
          <i class="bi bi-tags"></i>
          <p>Sql Server</p>
        </button>
      </div>
    </div>
  </div>
</div>