<div class="row row-cols-1 row-cols-md-3 g-4">
  <!--CARD 1-->
  <div class="cards col" *ngFor="let senacCoin of $senacCoins">
    <div class="cardExterior card h-100">
      <img src="https://primefaces.org/cdn/primeng/images/usercard.png" class="card-img-top" alt="..." />
      <div class="card-body" style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        ">
        <div class="titulos">
          <!--<h1 class="card-title">{{ senacCoin.saldo }}</h1>-->
          <h1 class="card-title">item 1</h1>
          <h2>R${{ senacCoin.saldo }}</h2>
        </div>
        <!--<p class="card-text">{{ senacCoin }}</p>-->
        <p class="card-text">descrição do item 1</p>
        <div class="botao d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- (click)="comprarItem(card)" -->
          <button class="btn btn-warning me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Adicionar ao carrinho
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--CARD 2-->
  <div class="cards col" *ngFor="let senacCoin of $senacCoins">
    <div class="cardExterior card h-100">
      <img src="https://primefaces.org/cdn/primeng/images/usercard.png" class="card-img-top" alt="..." />
      <div class="card-body" style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        ">
        <div class="titulos">
          <!--<h1 class="card-title">{{ senacCoin.saldo }}</h1>-->
          <h1 class="card-title">item 2</h1>
          <h2>R${{ senacCoin.saldo }}</h2>
        </div>
        <!--<p class="card-text">{{ senacCoin }}</p>-->
        <p class="card-text">descrição do item 2</p>
        <div class="botao d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- (click)="comprarItem(card)" -->
          <button class="btn btn-warning me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Adicionar ao carrinho
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--CARD 3-->
  <div class="cards col" *ngFor="let senacCoin of $senacCoins">
    <div class="cardExterior card h-100">
      <img src="https://primefaces.org/cdn/primeng/images/usercard.png" class="card-img-top" alt="..." />
      <div class="card-body" style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        ">
        <div class="titulos">
          <!--<h1 class="card-title">{{ senacCoin.saldo }}</h1>-->
          <h1 class="card-title">item 3</h1>
          <h2>R${{ senacCoin.saldo }}</h2>
        </div>
        <!--<p class="card-text">{{ senacCoin }}</p>-->
        <p class="card-text">descrição do item 3</p>
        <div class="botao d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- (click)="comprarItem(card)" -->
          <button class="btn btn-warning me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Adicionar ao carrinho
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--CARD 4-->
  <div class="cards col" *ngFor="let senacCoin of $senacCoins">
    <div class="cardExterior card h-100">
      <img src="https://primefaces.org/cdn/primeng/images/usercard.png" class="card-img-top" alt="..." />
      <div class="card-body" style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        ">
        <div class="titulos">
          <!--<h1 class="card-title">{{ senacCoin.saldo }}</h1>-->
          <h1 class="card-title">item 4</h1>
          <h2>R${{ senacCoin.saldo }}</h2>
        </div>
        <!--<p class="card-text">{{ senacCoin }}</p>-->
        <p class="card-text">descrição do item 4</p>
        <div class="botao d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- (click)="comprarItem(card)" -->
          <button class="btn btn-warning me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Adicionar ao carrinho
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--CARD 5-->
  <div class="cards col" *ngFor="let senacCoin of $senacCoins">
    <div class="cardExterior card h-100">
      <img src="https://primefaces.org/cdn/primeng/images/usercard.png" class="card-img-top" alt="..." />
      <div class="card-body" style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        ">
        <div class="titulos">
          <!--<h1 class="card-title">{{ senacCoin.saldo }}</h1>-->
          <h1 class="card-title">item 5</h1>
          <h2>R${{ senacCoin.saldo }}</h2>
        </div>
        <!--<p class="card-text">{{ senacCoin }}</p>-->
        <p class="card-text">descrição do item 5</p>
        <div class="botao d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- (click)="comprarItem(card)" -->
          <button class="btn btn-warning me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Adicionar ao carrinho
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--CARD 6-->
  <div class="cards col" *ngFor="let senacCoin of $senacCoins">
    <div class="cardExterior card h-100">
      <img src="https://primefaces.org/cdn/primeng/images/usercard.png" class="card-img-top" alt="..." />
      <div class="card-body" style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        ">
        <div class="titulos">
          <!--<h1 class="card-title">{{ senacCoin.saldo }}</h1>-->
          <h1 class="card-title">item 6</h1>
          <h2>R${{ senacCoin.saldo }}</h2>
        </div>
        <!--<p class="card-text">{{ senacCoin }}</p>-->
        <p class="card-text">descrição do item 6</p>
        <div class="botao d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- (click)="comprarItem(card)" -->
          <button class="btn btn-warning me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Adicionar ao carrinho
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--CARD 7-->
  <div class="cards col" *ngFor="let senacCoin of $senacCoins">
    <div class="cardExterior card h-100">
      <img src="https://primefaces.org/cdn/primeng/images/usercard.png" class="card-img-top" alt="..." />
      <div class="card-body" style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        ">
        <div class="titulos">
          <!--<h1 class="card-title">{{ senacCoin.saldo }}</h1>-->
          <h1 class="card-title">item 7</h1>
          <h2>R${{ senacCoin.saldo }}</h2>
        </div>
        <!--<p class="card-text">{{ senacCoin }}</p>-->
        <p class="card-text">descrição do item 7</p>
        <div class="botao d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- (click)="comprarItem(card)" -->
          <button class="btn btn-warning me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Adicionar ao carrinho
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--CARD 8-->
  <div class="cards col" *ngFor="let senacCoin of $senacCoins">
    <div class="cardExterior card h-100">
      <img src="https://primefaces.org/cdn/primeng/images/usercard.png" class="card-img-top" alt="..." />
      <div class="card-body" style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        ">
        <div class="titulos">
          <!--<h1 class="card-title">{{ senacCoin.saldo }}</h1>-->
          <h1 class="card-title">item 8</h1>
          <h2>R${{ senacCoin.saldo }}</h2>
        </div>
        <!--<p class="card-text">{{ senacCoin }}</p>-->
        <p class="card-text">descrição do item 8</p>
        <div class="botao d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- (click)="comprarItem(card)" -->
          <button class="btn btn-warning me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Adicionar ao carrinho
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<p-button routerLink="/senacCoin/carrinhosenaccoin" label="Carrinho" style="margin-top: 20px;"></p-button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- (click)="comprarItem(card)" -->
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Confirmação de adição do carrinho
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">...</div>
      <!-- Inserir descrição dos Cards -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <button type="button" class="btn btn-warning">Adicionar</button>
      </div>
    </div>
  </div>
</div>