.telaDePostagem{
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100%;
}

.titulo{
    margin: 16px;
}

label{
    margin-bottom: 8px;
}

.labelComentario{
    margin-top: 24px;
    margin-bottom: 8px;
}

.card-recursos{
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}