<!-- <form (ngSubmit)="submit()"  [formGroup]="postagemForm" #formDir="ngForm">

<div class="container">

        <div class="telaDePostagem">
            <label for="nomeArquivo">Titulo</label>
            <input  type="text" pInputText [(ngModel)]="value" formControlName="nomeArquivo" required />
                <div *ngIf="nomeArquivo.invalid && formDir.submitted" class="validation-error">
                    <p *ngIf="nomeArquivo.errors?.['required']"> O titulo é obrigatorio.</p>
                </div>
        </div>

        <div class="telaDePostagem">
            <label for="descricao" class="labelComentario">Comentário</label>
            <textarea  pInputTextarea formControlName="descricao" required></textarea>
            <div *ngIf="descricao.invalid && formDir.submitted" class="validation-error">
                <p *ngIf="descricao.errors?.['required']"> A descrição é obrigatorio.</p>
            </div>
        </div>
            
     
    <div class="card-recursos">
      
       
      

    <p-fileUpload  name="arquivosUpload[]" url="./upload.php" (onUpload)="onUpload($event)"  accept="image/*" chooseLabel="Escolher Arquivo" type="submit">
        <ng-template pTemplate="content" >
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>
    </div>

</div>  

</form>
 -->

 <!-- <form (ngSubmit)="submit()"  [formGroup]="postagemForm" #formDir="ngForm">
    <div class="telaDePostagem">
        <div class="field">
            <label for="nomeArquivo">Titulo</label>
            <input id="nomeArquivo" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" formControlName="nomeArquivo" required>
        </div>
        <div class="field">
            <label for="descricao">Comentário</label>
            <input id="descricao" type="textarea" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" formControlName="descricao" required>
        </div>

        <div class="field">
            
            <input type="file" (change)="onFileSelected($event)">
        </div>
        <input type="submit">
    
    </div>




</form> -->


<form (ngSubmit)="submit()" [formGroup]="postagemForm" #formDir="ngForm">
    <div class="telaDePostagem">
      <div class="field">
        <label for="nomeArquivo">Título</label>
        <input id="nomeArquivo" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" formControlName="nomeArquivo" required>
      </div>
      <div class="field">
        <label for="descricao">Comentário</label>
        <textarea id="descricao" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" formControlName="descricao" required></textarea>
      </div>

      <div class=" telaDePostagem flex-row justify-content-around">        
        <p-fileUpload class="mr-2" mode="basic" chooseLabel="Arquivo" name="uploadedFiles[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" (change)="onFileSelected($event)" ></p-fileUpload>
        
        
        <p-button (onClick)="submit()" label="Submit" icon="pi pi-check"  ></p-button>
      </div>

     
    </div>
  </form>

  
  