.card {
  position: relative;
  background-color: #092C4C;
  width: 235px;
  height: 153px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.knob {
  width: 235px;
  height: 400px;
  margin-left: 460px;
  margin-top: -114px;
  background: white;
  box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11); border: transparent;
}
